<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mobile.mapper.BtnMenuEntityMapper">
    
    <resultMap type="BtnMenuEntity" id="BtnMenuEntityResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="imgUrl"    column="img_url"    />
        <result property="menuRole"    column="menu_role"    />
        <result property="targetUrl"    column="target_url"    />
        <result property="useFlag"    column="use_flag"  />

    </resultMap>

    <sql id="selectBtnMenuEntityVo">
        select id, name, img_url, menu_role, target_url,use_flag from tt_btn_menu
    </sql>

    <select id="selectBtnMenuEntityList" parameterType="BtnMenuEntity" resultMap="BtnMenuEntityResult">
        <include refid="selectBtnMenuEntityVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="imgUrl != null  and imgUrl != ''"> and img_url = #{imgUrl}</if>
            <if test="menuRole != null  and menuRole != ''"> and menu_role = #{menuRole}</if>
            <if test="targetUrl != null  and targetUrl != ''"> and target_url = #{targetUrl}</if>
            <if test="useFlag != null  and useFlag != ''"> and use_flag = #{useFlag}</if>
        </where>
    </select>
    
    <select id="selectBtnMenuEntityById" parameterType="Long" resultMap="BtnMenuEntityResult">
        <include refid="selectBtnMenuEntityVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBtnMenuEntity" parameterType="BtnMenuEntity" useGeneratedKeys="true" keyProperty="id">
        insert into tt_btn_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="imgUrl != null">img_url,</if>
            <if test="menuRole != null">menu_role,</if>
            <if test="targetUrl != null">target_url,</if>
            <if test="useFlag != null">use_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="imgUrl != null">#{imgUrl},</if>
            <if test="menuRole != null">#{menuRole},</if>
            <if test="targetUrl != null">#{targetUrl},</if>
            <if test="useFlag != null">#{useFlag},</if>
         </trim>
    </insert>

    <update id="updateBtnMenuEntity" parameterType="BtnMenuEntity">
        update tt_btn_menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="imgUrl != null">img_url = #{imgUrl},</if>
            <if test="menuRole != null">menu_role = #{menuRole},</if>
            <if test="targetUrl != null">target_url = #{targetUrl},</if>
            <if test="useFlag != null">use_flag = #{useFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBtnMenuEntityById" parameterType="Long">
        delete from tt_btn_menu where id = #{id}
    </delete>

    <delete id="deleteBtnMenuEntityByIds" parameterType="String">
        delete from tt_btn_menu where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>