<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mobile.mapper.StudentSignEntityMapper">
    
    <resultMap type="StudentSignEntity" id="StudentSignEntityResult">
        <result property="id"    column="id"    />
        <result property="courseId"    column="course_id"    />
        <result property="placeId"    column="place_id"    />
        <result property="signTime"    column="sign_time"    />
        <result property="status"    column="status"    />
        <result property="studentId"    column="student_id"    />
        <result property="userId"    column="user_id"    />
        <result property="money"    column="money"    />
        <result property="remarks"    column="remarks"    />
    </resultMap>

    <sql id="selectStudentSignEntityVo">
        select id, course_id, place_id, sign_time, status, student_id, user_id, money, remarks from tt_student_sign
    </sql>

    <select id="selectStudentSignEntityList" parameterType="StudentSignEntity" resultMap="StudentSignEntityResult">
        <include refid="selectStudentSignEntityVo"/>
        <where>  
            <if test="courseId != null "> and course_id = #{courseId}</if>
            <if test="placeId != null "> and place_id = #{placeId}</if>
            <if test="signTime != null  and signTime != ''"> and sign_time = #{signTime}</if>
            <if test="studentId != null "> and student_id = #{studentId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>

    <select id="selectStudentSignNew" parameterType="StudentSignEntity" resultMap="StudentSignEntityResult">
        select a.*,b.name studentName,c.name courseName,d.name coachName,e.name placeName from tt_student_sign a left join tt_student b on a.student_id=b.id
        left join tt_course c on a.course_id = c.id
        left join tt_coach d on a.user_id = d.id
        left join tt_place e on a.place_id = e.id
        <where>
            <if test="courseId != null "> and a.course_id = #{courseId}</if>
            <if test="placeId != null "> and a.place_id = #{placeId}</if>
            <if test="signTime != null  and signTime != ''"> and a.sign_time like concat('%', #{signTime}, '%')</if>
            <if test="studentId != null "> and a.student_id = #{studentId}</if>
            <if test="userId != null "> and a.user_id = #{userId}</if>
        </where>
        order by sign_time desc
    </select>

    <select id="selectStudentSignByTel" parameterType="String" resultMap="StudentSignEntityResult">
        select a.*,b.name studentName,c.name courseName,d.name coachName,e.name placeName from tt_student_sign a left join tt_student b on a.student_id=b.id
        left join tt_course c on a.course_id = c.id
        left join tt_coach d on a.user_id = d.id
        left join tt_place e on a.place_id = e.id
        where b.parent_tel=#{tel}
        order by sign_time desc
    </select>

    <select id="coachFindSignDetails" parameterType="String" resultMap="StudentSignEntityResult">
        select a.*,b.name studentName,c.name courseName,d.name coachName,e.name placeName from tt_student_sign a left join tt_student b on a.student_id=b.id
        left join tt_course c on a.course_id = c.id
        left join tt_coach d on a.user_id = d.id
        left join tt_place e on a.place_id = e.id
        where d.tel=#{tel}
        order by sign_time desc
    </select>

    <select id="selectStudentSignEntityById" parameterType="Integer" resultMap="StudentSignEntityResult">
        <include refid="selectStudentSignEntityVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertStudentSignEntity" parameterType="StudentSignEntity" useGeneratedKeys="true" keyProperty="id">
        insert into tt_student_sign
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseId != null">course_id,</if>
            <if test="placeId != null">place_id,</if>
            <if test="signTime != null">sign_time,</if>
            <if test="status != null">status,</if>
            <if test="studentId != null">student_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="money != null">money,</if>
            <if test="remarks != null">remarks,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseId != null">#{courseId},</if>
            <if test="placeId != null">#{placeId},</if>
            <if test="signTime != null">#{signTime},</if>
            <if test="status != null">#{status},</if>
            <if test="studentId != null">#{studentId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="money != null">#{money},</if>
            <if test="remarks != null">#{remarks},</if>
         </trim>
    </insert>

    <update id="updateStudentSignEntity" parameterType="StudentSignEntity">
        update tt_student_sign
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="placeId != null">place_id = #{placeId},</if>
            <if test="signTime != null">sign_time = #{signTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="money != null">money = #{money},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStudentSignEntityById" parameterType="Integer">
        delete from tt_student_sign where id = #{id}
    </delete>

    <delete id="deleteStudentSignEntityByIds" parameterType="String">
        delete from tt_student_sign where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryTodayIncome" parameterType="String" resultType="java.lang.Integer">
        select sum(money) income from tt_student_sign where sign_time BETWEEN #{startDate} and #{endDate}
    </select>

    <select id="queryMonthIncome" parameterType="String" resultType="java.lang.String">
        select sum(money) income from tt_student_sign where sign_time BETWEEN #{startDate} and #{endDate}
    </select>

</mapper>